*
{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}

body{

}

form{
    background-color: aqua;
    display:flex;
    flex-flow: column;
    width:50%;
    margin:7% auto;

}

form *{
    margin-bottom: 20px;
    
}
